
<h1>Hello, and welcome to Cozi!</h1>
<img src="favicon.ico">
<form [formGroup]="Form">
    <mat-form-field appearance="fill" style="width: 100%">
        <mat-label>Email</mat-label>
        <input matInput type="email" formControlName="Email" placeholder="Email" autofocus />
    </mat-form-field>
    <mat-form-field appearance="fill" style="width: 100%">
        <mat-label>Password</mat-label>
        <input matInput type="password" formControlName="Password" placeholder="Password" />
    </mat-form-field>
</form>
<div style="text-align: center; margin-top: 20px;">
    <button mat-flat-button style="width: 250px;" color="primary" (click)="login()">
        <span>Sign In</span>
    </button>
</div>
<div> Here is some data</div>